{% extends 'index.html' %}
{% block message %}
    {% if status %}
	{% if user.is_superuser %}
         {{ status }}
	{% endif %}
    {% endif %}
{% endblock %}
{% block body %}
<div class="panel panel-default" style="width: 90%; margin-left: 5%;">
<div class="panel-body">
    <h4>Порт номер: <strong>{{ portsinfo.number }}</strong> на свиче
        <a href="{% url 'info:switch_detail' portsinfo.switch.id %}"><strong>{{ portsinfo.switch }}</strong></a>
        Узел: {{ portsinfo.switch.address.quarter }}-{{ portsinfo.switch.address.home }}
    </h4>
<!--Subscriber's info-->
<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th>Абонент</th>
	    <th>Адрес</th>
        <th>Договор</th>
        <th>Логин</th>
        <th>Телефон</th>
        <th>Провайдер</th>
        <th>Комментарий</th>
	    <th>Подключен</th>
        <th>Статус</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>{{ portsinfo.subscriber.name }}</td>
    <td>{{ portsinfo.subscriber.address.quarter }}-{{ portsinfo.subscriber.address.home }}-{{ portsinfo.subscriber.address.apartment }}</td>
    <td>{% if portsinfo.subscriber.document %}№ - {{ portsinfo.subscriber.document }}{% else %}-{% endif %}</td>
    <td>{{ portsinfo.subscriber.login }}</td>
    <td>{{ portsinfo.subscriber.telephone }}</td>
    <td><a href="{{ portsinfo.subscriber.bill_url }}" title="Открыть в биллинге" target="_blank">{{ portsinfo.subscriber.provider }}</a></td>
    <td>{{ portsinfo.description }}</td>
    <td>{{ portsinfo.subscriber.date|date:"d-m-Y" }}</td>    
	{% if portsinfo.is_up == 1 %}
            <td class="text-success">UP</td>
        {% else %}
            <td class="text-danger">DOWN</td>
        {% endif %}
    </tr>
    </tbody>
</table>

<br/>
<!-- end Subscriber's info-->
<hr>
<!--Management-->
<div align="right">
    <a href="{% url 'info:ports_edit' portsinfo.id %}" class="btn btn-success btn-sm">Редактировать</a>
    {% if portsinfo.select %}	
    <a href="{% url 'info:port_reboot' portsinfo.switch.id portsinfo.id %}" type="button" class="btn btn-default btn-sm" data-loading-text="перезагружаю...">Перезагрузить порт</a>
    {% endif %}
    {% if user.is_superuser %}
    <a href="{% url 'info:port_up' portsinfo.switch.id portsinfo.id %}" class="btn btn-success btn-sm">Включить порт</a>
    <a href="{% url 'info:port_shutdown' portsinfo.switch.id portsinfo.id %}" class="btn btn-danger btn-sm">Выключить порт</a>
    {% endif %}
</div>
<!--end Management-->
</div>
</div>
<div class="panel panel-default" style="width: 90%; margin-left: 5%;">
<div class="panel-body">
    {% if error_message %}
    <h5 align="center">{{ error_message }}</h5>
    {% else %}
    <h5 align="center">Данные по порту с коммутатора</h5>
    {% endif %}
    <style xmlns="http://www.w3.org/1999/html">
    .table_width {
        width: 50%;
        margin: auto;
    }
    </style>

    <!--VLAN-->
    <table class="table table-hover table_width">
        <thead>
        <tr>
            {% for each in vlan_header %}
            <th>{{ each }}</th>
            {% endfor %}
        </tr>
        </thead>
    <tbody>
        {% for each in vlan %}
            <tr>
            {% for element in each %}
                <td>{{ element }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
    <!--end VLAN-->

    <!--FDB-->
    <table class="table table-hover table_width">
        <thead>
        <tr>
            {% for each in fdb_header %}
            <th>{{ each }}</th>
            {% endfor %}
        </tr>
        </thead>
    <tbody>
        {% for each in fdb %}
            <tr>
            {% for element in each %}
                <td>{{ element }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
    <!--end FDB-->
    {% regroup error by type as type_list %}

    <table class="table table-hover table_width">
    {% for type in type_list %}
        <thead>
            <tr>
            <th>{{ type.grouper }}</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>
            {% for error in type.list %}
                {% if error.counter != '0'%}
                {{ error.name }}: <b>{{ error.counter }}</b>
                {% endif %}
            {% endfor %}
            </td>
        </tr>
        </tbody>
    {% endfor %}
    </table>
</div>
</div>
{% endblock %}

