<table>
    <thead>
    <tr>
        <th>Имя</th>
        <th>Квартал</th>
        <th>Дом</th>
        <th>Квартира</th>
        <th>Свич:порт</th>
        <th>Провайдер</th>
    </tr>
    </thead>
    <tbody>
    {% for each in subscriber %}
    <tr>
        <td>{{ each.name }}</td>
        <td>{{ each.address.quarter }}</td>
        <td>{{ each.address.home }}</td>
        <td>{{ each.address.apartment }}</td>
        <td>{{ each.port }}</td>
        <td>{{ each.provider }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
