{% extends 'index.html' %}
{% load bootstrap %}
{% block search %}
    <style>
     form {
         max-width: 500px;
     }
     .form-control {
         width: auto;
         float: left;
         margin-left: 25%;
    }
    </style>
    <div class="well well-lg" style="width: 80%; margin-left: 10%; background-color: transparent;">
        <div align="center">
            <form action="" method="get" id="filter">
                {{ form|bootstrap }}
            </form>
        </div>
        <a href="{% url 'info:switch_list' %}" class="btn btn-default btn-sm" style="margin: -5px 0 5px 10px">сброс</a>
    </div>
{% endblock %}
{% block body %}
{% if switch %}
    <div class="panel panel-default" style="width: 90%; margin-left: 5%">
    <div class="panel-body">
    {% if user.is_superuser %}
    <a href="{% url 'info:switch_create' %}" class="btn btn-sm" style="margin: 4px;">Добавить свич</a>
    {% endif %}
    Всего портов: <strong>{{ total_ports.model__users_ports__sum }}</strong>
    / Свободных: <strong>{{ free_ports }}</strong>
    <table class="table table-bordered table-hover">
    <thead>
        <tr>
        <th>№</th>
        <th>IP адрес</th>
        <th>Модель</th>
        <th>Узел</th>
        <th>Описание</th>
        <th></th>
        </tr>
    </thead>
{% for element in switch %}
    <tbody>
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ element.ip_add }}</td>
        <td>{{ element.model }}</td>
        <td>{{ element.address.district }}-{{ element.address.quarter }},{{ element.address.home }}
            {% if element.address.apartment %}
                кв{{ element.address.apartment }}
            {% endif %}
        </td>
        <td>{{ element.description }}</td>
        <th><a href="{% url 'info:switch_detail' element.id %}" class="btn btn-success btn-xs">подробно</a></th>
    </tr>
    </tbody>
{% endfor %}
    </table>
{% endif %}
</div>
</div>
    <script>
    $('#id_address').on('change', function filter() {
        document.getElementById('filter').submit();
        });
    </script>
{% endblock %}
{% block paginator %}
{% endblock %}

