{% extends 'index.html' %}
{% load bootstrap %}
{% block message %}
            <div style="margin: auto; width: 30%" align="center">
    {% if message %}
      <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
         <div align="center">{{ message }}</div>
    </div>
    {% elif error %}
        <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
         <div align="center">{{ error }}</div>
    </div>
    {% endif %}
    </div>
{% endblock %}
{% block body %}
    <div class="panel panel-default" style="width: 40%; margin: auto">
    <div class="panel-body">
    <form action="{{ url }}" method="POST">
        {{ form|bootstrap }}
        {% csrf_token %}
        <input type="submit" value="Сохранить" class="btn btn-success">
        <a href="{% url 'sktv:device_type_list' 1%}" class="btn" style="margin-left: 8px">Назад</a>
    </form>

    </div>
    </div>
{% endblock %}