{% extends 'sktv/base.html' %}
{% load bootstrap %}
{% block body %}

    <div class="panel panel-default" style="width: 40%; margin: auto">
        <div class="panel-body">
        <form method="post">
            {{ form|bootstrap_horizontal }}
            {% csrf_token %}
            <input type="submit" value="Создать">
        </form>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Модель</th>
                        <th>Тип</th>
                    </tr>
                </thead>
                <tbody>
                {% for each in devices %}
                    <tr>
                        <td>
                        <a href="{% url 'sktv:device_model_edit' each.id %}">{{ each.id }}</a>
                        </td>
                        <td>{{ each.model }}</td>
                        <td>{{ each.device_type }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}