{% extends 'sktv/base.html' %}
{% load bootstrap %}
{% load table_drower %}
{% block body %}
    <div class="panel panel-default" style="width: 40%; margin: auto">
        <div class="panel-body">
        <form method="post">
            {{ form|bootstrap }}
            {% csrf_token %}
            <input type="submit" value="Создать">
        </form>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        {% for each in headers %}
                        <th>{{ each.name }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for each in data %}
                    <tr>
                        {% for element in headers %}
                            <td>{{ each|table:element.name }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}