{% extends 'index.html' %}
{% block body %}
    <style xmlns="http://www.w3.org/1999/html">
    .table_width {
        width: 40%;
        margin: auto;
    }
    </style>
    <!--VLAN-->
    <table class="table table-hover table_width">
        <thead>
        <tr>
            {% for each in vlan_header %}
            <th>{{ each }}</th>
            {% endfor %}
        </tr>
        </thead>
    <tbody>
        {% for each in vlan %}
            <tr>
            {% for element in each %}
                <td>{{ element }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
    <!--end VLAN-->

    <!--FDB-->
    <table class="table table-hover table_width">
        <thead>
        <tr>
            {% for each in fdb_header %}
            <th>{{ each }}</th>
            {% endfor %}
        </tr>
        </thead>
    <tbody>
        {% for each in fdb %}
            <tr>
            {% for element in each %}
                <td>{{ element }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
    <!--end FDB-->

    {% regroup error by type as type_list %}

    <table class="table table-hover table_width">
    {% for type in type_list %}
        <thead>
            <tr>
            <th>{{ type.grouper }}</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>
            {% for error in type.list %}
                {% if error.counter != '0'%}
                {{ error.name }}: <b>{{ error.counter }}</b>
                {% endif %}
            {% endfor %}
            </td>
        </tr>
        </tbody>
    {% endfor %}
    </table>
{% endblock %}