{% load staticfiles %}
<script src="/media/static/static_jquery/js/jquery.js"></script>
<script src="/media/static/bootstrap/js/bootstrap.js"></script>
{% load bootstrap_themes %}
{% bootstrap_styles theme='paper' type='css' %}
{% block head %}
<script type="text/javascript">
  function digitalWatch() {
    var date = new Date();
    var hours = date.getHours();
    var minutes = date.getMinutes();
    var seconds = date.getSeconds();
    if (hours < 10) hours = "0" + hours;
    if (minutes < 10) minutes = "0" + minutes;
    if (seconds < 10) seconds = "0" + seconds;
    document.getElementById("digital_watch").innerHTML = hours + ":" + minutes + ":" + seconds;
    setTimeout("digitalWatch()", 1000);
  }
</script>

    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'index' %}">MNGMT</a>
    </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            {% if user.is_authenticated %}
                <li><a href="{% url 'info:switch_list' %}">Свичи</a></li>
		{% if user.is_superuser %}
                <li><a href="{% url 'info:ports_list' %}">Порты</a></li>
		{% endif %}
                <li><a href="{% url 'info:subscribers_list' %}">Абоненты</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'logout' %}">{{ user }}:Выйти</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
    </nav>
{% endblock %}
{% if user.is_authenticated %}
{% block message %}
{% endblock %}
{% block search %}
{% endblock %}
{% block body %}
    <div class="panel panel-default" style="width: 20%; margin-left: 5%; float: left">
    <div class="panel-body">
    <p>Всего абонентов: <strong>{{ subscribers|length }}</strong></p>
    {% for element in result %}
        <p>{{ element }}</p>
    {% endfor %}
    </div>
    </div>
    <div class="panel panel-default" style="width: 20%; margin-left: 5%; float: left">
    <div class="panel-body">	
    <p>Подключено в этом месяце: <strong>{{ subscribers_now|length }}</strong></p>
    {% for element in result_now %}
        <p>{{ element }}</p>
    {% endfor %}
    </div>
    </div>
    <div>
    <p id="digital_watch" style="color: #f00; font-size: 120%; font-weight: bold;"></p>
    </div>

{% endblock %}
{% else %}
{% block auth %}
    <div class="panel panel-default" style="width: 20%; margin-left: 40%">
    <div class="text-center panel-body">Для доступа к сайту необходимо авторизоваться<br/>
    <a href="{% url 'login' %}" class="btn btn-success">ТУТ</a>
    </div>
    </div>
{% endblock %}
{% endif %}
{% block footer %}
{% endblock %}
